<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evs.evsandroid.evsandroid49">
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.Camera"></uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
        <intent-filter>
            <action android:name="com.evs.evsandroid.evsandroid49.MAINACTIVITY"></action>
            <category android:name="android.intent.category.DEFAULT"></category>
        </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".TorchActivity">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.TORCHACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>

        <activity android:name=".MusicPlayerActivity">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.MUSICPLAYERACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.AUTHACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.SETTINGSACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>

        <activity android:name=".SettingsActivity2">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.SETTINGSACTIVITY2"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".MessageActivity">
            <intent-filter>
                <action android:name="com.evs.evsandroid.evsandroid49.MESSAGEACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
    <service android:name=".services.MusicService"></service>
    </application>

</manifest>